* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
select {
    width: 120px;
    height: 50px;
    font-size: 22px;
    margin-right: 15px;
}
button {
    width: 120px;
    height: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}