@import "../less/vars.less";
@import "../less/grid.less";
@import "../less/funcs.less";
@import "less/tabs.less";

* {
    margin: 0;
    padding: 0;

    &,
    &:after,
    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

img,
svg,
iframe,
picture {
    width: auto;
    height: auto;
    max-width: 100%;
}

.v-spaces-loop (@iterations);

html[dir=rtl] {
	.rtl-spaces-loop (@iterations);
}

html:not([dir=rtl]) {
	.ltr-spaces-loop (@iterations);
}

.imgfix { line-height: 0; }

#adminmenu {
    .wp-menu-image {
        position: relative;
        img {
            position: absolute;
            max-width: 65%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding-top: 0;
        }
    }

}