@loadSize: 10px;
@btnColor: #fff;
@defColor: #21087A;
@defColor-hov: #8B1DD9;
.stdbtn {
	color: @btnColor;
	width: fit-content;
	padding: 10px 20px;
	overflow: hidden;
	line-height: 1;
	&,
	&:before {
		-webkit-transition: all .7s ease;
				transition: all .7s ease;
	}
	&,
	i,
	>span {
		position: relative;
	}
	i,
	>span {
		z-index: 1;
	}
	&.b1 { border-width: 1px;border-style: solid; }
	&.b2 { border-width: 2px;border-style: solid; }
	&.b3 { border-width: 3px;border-style: solid; }
	&.br { border-radius: 4px; }
	&.br8 { 
		&,
		&.hov-rev:before {
			border-radius: 8px; 
		}
	}
	&.br10 {
		&,
		&.hov-rev:before {
			border-radius: 10px; 
		}
	}
	&.br12 { 
		&,
		&.hov-rev:before {
			border-radius: 12px; 
		}
	}
	&.br14 { 
		&,
		&.hov-rev:before {
			border-radius: 14px; 
		}
	}
	&.br16 { 
		&,
		&.hov-rev:before {
			border-radius: 16px; 
		}
	}
	&.br18 { 
		&,
		&.hov-rev:before {
			border-radius: 18px; 
		}
	}
	&.br20 { 
		&,
		&.hov-rev:before {
			border-radius: 20px; 
		}
	}
	&.def {
		&,
		.loadLayer {
			background-color: @defColor;
		}
	}
	.loadLayer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		pointer-events: none;
		-webkit-transition: all .5s ease;
				transition: all .5s ease;
		opacity: 0;
		visibility: hidden;
	}
	.bloader,
	.bloader:before,
	.bloader:after {
		border-radius: 50%;
		width: 1em;
		height: 1em;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation: load7 2s infinite ease-in-out;
		animation: load7 2s infinite ease-in-out;
	}
	.bloader {
		color: #ffffff;
		font-size: 10px;
		position: relative;
		text-indent: -9999em;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
	.bloader:before,
	.bloader:after {
		content: '';
		position: absolute;
		top: 0;
	}
	.bloader:before {
		left: -2em;
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.bloader:after {
		left: 2em;
	}
	@-webkit-keyframes load7 {
		0%,
		80%,
		100% {
			box-shadow: 0 0 0 -1.5em;
		}
		40% {
			box-shadow: 0 0 .5em 1px;
			background-color: #fff;
		}
	}
	@keyframes load7 {
		0%,
		80%,
		100% {
			box-shadow: 0 0 0 -1.5em;
		}
		40% {
			box-shadow: 0 0 .5em 1px;
			background-color: #fff;
		}
	}
	&.loading {
		.loadLayer {
			opacity: 1;
			visibility: visible;
		}
	}
	&.hov-str,
	&.hov-stl,
	&.hov-stb,
	&.hov-stt,
	&.hov-soh,
	&.hov-sov,
	&.hov-ufl,
	&.hov-ufc,
	&.hov-ufr,
	&.hov-ofl,
	&.hov-ofc,
	&.hov-ofr,
	&.hov-urev,
	&.hov-orev {
		&:before {
			content: '';
			position: absolute;
			pointer-events: none;
		}
		&.def {
			&:before {
				background-color: @defColor-hov;
			}
		}
	}
	&.hov-rev,
	&.hov-sih,
	&.hov-siv {
		&:before {
			content: '';
			position: absolute;
			pointer-events: none;
		}
	}
	&.hov-sih,
	&.hov-siv {
		&.def {
			background-color: @defColor-hov;
			&:before {
				background-color: @defColor;
			}
		}
	}
	&.hov-rev {
		&:before {
			border: 0px solid @defColor-hov;
		}
	}
	&.hov-ofl,
	&.hov-ofc,
	&.hov-ofr,
	&.hov-ufl,
	&.hov-ufc,
	&.hov-ufr {
		&:before {
			width: 0;
			height: 4px;
		}
	}
	&.hov-str,
	&.hov-stl,
	&.hov-soh {
		&:before {
			width: 0;
			height: 100%;
		}
	}
	&.hov-siv,
	&.hov-sih,
	&.hov-rev {
		&:before {
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
	&.hov-sov,
	&.hov-stb,
	&.hov-stt,
	&.hov-urev,
	&.hov-orev {
		&:before {
			left: 0;
			right: 0;
			width: 100%;
			height: 0;
		}
	}
	&.hov-soh,
	&.hov-ufc,
	&.hov-ofc {
		&:before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&.hov-sov {
		&:before {
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&.hov-stt,
	&.hov-ufl,
	&.hov-ufc,
	&.hov-ufr,
	&.hov-urev {
		&:before {
			bottom: 0;
		}
	}
	&.hov-str,
	&.hov-stl,
	&.hov-stb,
	&.hov-ofl,
	&.hov-ofc,
	&.hov-ofr,
	&.hov-orev {
		&:before {
			top: 0;
		}
	}
	&.hov-str,
	&.hov-ufl,
	&.hov-ofl {
		&:before {
			left: 0;
		}
	}
	&.hov-stl,
	&.hov-ufr,
	&.hov-ofr {
		&:before {
			right: 0;
		}
	}
	&.hov-bf {
		border-color: @defColor;
	}
	&.hov-holl {
		border-color: @defColor;
	}
	&:hover {
		&.hov-urev,
		&.hov-orev {
			&:before {
				height: 4px;
			}
		}
		&.hov-bf {
			border-color: @defColor-hov;
		}
		&.fade,
		&.hov-holl {
			&.def {
				background-color: @defColor-hov;
			}
		}
		&.hov-rev {
			&:before {
				border: 4px solid @defColor-hov;
			}
		}
		&.hov-str,
		&.hov-stl,
		&.hov-soh,
		&.hov-ofl,
		&.hov-ofc,
		&.hov-ofr,
		&.hov-ufl,
		&.hov-ufc,
		&.hov-ufr {
			&:before {
				width: 100%;
			}
		}
		&.hov-stb,
		&.hov-stt,
		&.hov-sov {
			&:before {
				height: 100%;
			}
		}
		&.hov-sih {
			&:before {
				transform: scaleX(0);
			}
		}
		&.hov-siv {
			&:before {
				transform: scaleY(0);
			}
		}
	}
	&:disabled,
	&[disabled] {
		cursor: wait;
		opacity: .5 !important;
		&,
		.loadLayer {
			background-color: #aaa !important; 
		}
	}
}