@import "vars.less";

* {
    margin: 0;
    padding: 0;

    &,
    &:after,
    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

html,
body {
    height: 100%;
}

body {
    color: @body_color;
    font-size: 18px;
    font-family: @font-family;
}

img,
svg,
iframe,
picture {
    width: auto;
    height: auto;
    max-width: 100%;
}

button {
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: @font-family;
    line-height: 1;
    background-color: transparent;
}

input,
button {
    &[type="submit"] {
        &:disabled {
            opacity: .4 !important;
            pointer-events: none !important;
            background-color: #999 !important;
        }
    }
}

.clear { clear: both; }
.center { text-align: center; }
.bgimg,
.bgcimg { background-repeat: no-repeat;background-position: center center; }
.bgimg { background-size: cover; }
.bgcimg { background-size: contain; }
.overh { overflow: hidden; }
.imgfix { line-height: 0; }
.dblock { display: block; }
.diblock { display: inline-block; }
.fixedbg { background-attachment: fixed; }
.notouch { pointer-events: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; }
.relative { position: relative; }
.circlebox { border-radius: 50%; }
.abscenter { position: absolute;margin: auto;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%); }
.cp,.clickbtn,.videopop,button,input[type=submit] { cursor: pointer; }
svg,svg *,.anim,.clickbtn,button,input[type=submit] { -webkit-transition:all .33s ease;transition: all .33s ease; }
.vbox iframe { width: 100%;height: 100%; }
.scaleX-1 { transform: scaleX(-1); }
.ovhide,.ohide { opacity: 0; }
.ovhide,.vhide { visibility: hidden; }

::-webkit-input-placeholder {
	color: @ph_color;
	font-family: @font-family;
}
:-moz-placeholder {
	color: @ph_color;
	font-family: @font-family;
}
::-moz-placeholder {
	color: @ph_color;
	font-family: @font-family;
}
:-ms-input-placeholder {
	color: @ph_color;
	font-family: @font-family;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	color: initial;
	-webkit-text-fill-color: initial;
	box-shadow: 0 0 0 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}