.font-size(@size) {
  font-size: unit(@size,px);
  font-size:~"calc(14px + (@{size} - 14) * 0.052vw)";
}
.rfs14 { font-size: 14px; }
.rfs15 { font-size: 15px;font-size: calc(14px + 0.052vw); }
.rfs16 { font-size: 16px;font-size: calc(14px + 0.104vw); }
.rfs17 { font-size: 17px;font-size: calc(14px + 0.156vw); }
.rfs18 { font-size: 18px;font-size: calc(14px + 0.208vw); }
.rfs19 { font-size: 19px;font-size: calc(14px + 0.260vw); }
.rfs20 { font-size: 20px;font-size: calc(14px + 0.312vw); }
.rfs21 { font-size: 21px;font-size: calc(14px + 0.364vw); }
.rfs22 { font-size: 22px;font-size: calc(14px + 0.416vw); }
.rfs23 { font-size: 23px;font-size: calc(14px + 0.468vw); }
.rfs24 { font-size: 24px;font-size: calc(14px + 0.520vw); }
.rfs25 { font-size: 25px;font-size: calc(14px + 0.572vw); }
.rfs26 { font-size: 27px;font-size: calc(14px + 0.624vw); }
.rfs27 { font-size: 27px;font-size: calc(14px + 0.676vw); }
.rfs28 { font-size: 28px;font-size: calc(14px + 0.728vw); }
.rfs29 { font-size: 29px;font-size: calc(14px + 0.780vw); }
.rfs30 { font-size: 30px;font-size: calc(14px + 0.832vw); }
.rfs31 { font-size: 31px;font-size: calc(14px + 0.884vw); }
.rfs32 { font-size: 32px;font-size: calc(14px + 0.936vw); }
.rfs33 { font-size: 33px;font-size: calc(14px + 0.988vw); }
.rfs34 { font-size: 34px;font-size: calc(14px + 1.04vw); }
.rfs35 { font-size: 35px;font-size: calc(14px + 1.092vw); }
.rfs36 { font-size: 36px;font-size: calc(14px + 1.144vw); }
.rfs37 { font-size: 37px;font-size: calc(14px + 1.196vw); }
.rfs38 { font-size: 38px;font-size: calc(14px + 1.248vw); }
.rfs39 { font-size: 39px;font-size: calc(14px + 1.300vw); }
.rfs40 { font-size: 40px;font-size: calc(14px + 1.352vw); }
.rfs45 { .font-size(45); }
.rfs50 { .font-size(50); }
.rfs55 { .font-size(55); }

.fw-light  { font-weight: 300; }
.fw-normal { font-weight: 400; }
.fw-medium { font-weight: 500; }
.fw-sbold  { font-weight: 600; }
.fw-bold   { font-weight: 700; }
.fw-ebold  { font-weight: 800; }
.fw-black  { font-weight: 900; }

.lh1 { line-height: 1; }
.lh11 { line-height: 1.1; }
.lh12 { line-height: 1.2; }
.lh13 { line-height: 1.3; }
.lh14 { line-height: 1.4; }
.lh15 { line-height: 1.5; }
.lh16 { line-height: 1.6; }
.lh17 { line-height: 1.7; }
.lh18 { line-height: 1.8; }
.lh19 { line-height: 1.9; }
.lh2 { line-height: 2; }

@media (min-width:1980px) {
  .rfs15 { font-size: 15px; }
  .rfs16 { font-size: 16px; }
  .rfs17 { font-size: 17px; }
  .rfs18 { font-size: 18px; }
  .rfs19 { font-size: 19px; }
  .rfs20 { font-size: 20px; }
  .rfs21 { font-size: 21px; }
  .rfs22 { font-size: 22px; }
  .rfs23 { font-size: 23px; }
  .rfs24 { font-size: 24px; }
  .rfs25 { font-size: 25px; }
  .rfs26 { font-size: 26px; }
  .rfs27 { font-size: 27px; }
  .rfs28 { font-size: 28px; }
  .rfs30 { font-size: 30px; }
  .rfs35 { font-size: 35px; }
  .rfs37 { font-size: 37px; }
  .rfs40 { font-size: 40px; }
  .rfs45 { font-size: 45px; }
  .rfs50 { font-size: 50px; }
  .rfs55 { font-size: 55px; }
  .rfs60 { font-size: 60px; }
  .rfs65 { font-size: 65px; }
  .rfs70 { font-size: 70px; }
  .rfs75 { font-size: 75px; }
  .rfs80 { font-size: 80px; }
  .rfs85 { font-size: 85px; }
  .rfs90 { font-size: 90px; }
  .rfs95 { font-size: 95px; }
  .rfs100 { font-size: 100px; }
  .rfs105 { font-size: 105px; }
  .rfs110 { font-size: 110px; }
  .rfs150 { font-size: 150px; }
  .rfs180 { font-size: 180px; }
}

.fs-i { font-style: italic; }
.td-n { text-decoration: none; }
.td-u { text-decoration: underline; }



