.v-spaces-loop (@i) when (@i > 0) {

    .mt@{i},
    .vm@{i} {
        margin-top:~"@{i}px";
    }

    .mb@{i},
    .vm@{i} {
        margin-bottom:~"@{i}px";
    }

    .pt@{i},
    .vp@{i} {
        padding-top:~"@{i}px";
    }

    .pb@{i},
    .vp@{i} {
        padding-bottom:~"@{i}px";
    }

    .v-spaces-loop(@i - 5);
}

.rtl-spaces-loop (@i) when (@i > 0) {

    .ml@{i},
    .hm@{i} {
        margin-left:~"@{i}px";
    }

    .mr@{i},
    .hm@{i} {
        margin-right:~"@{i}px";
    }

    .pl@{i},
    .hp@{i} {
        padding-left:~"@{i}px";
    }

    .pr@{i},
    .hp@{i} {
        padding-right:~"@{i}px";
    }

    .rtl-spaces-loop(@i - 5);
}

.ltr-spaces-loop (@i) when (@i > 0) {

    .ml@{i},
    .hm@{i} {
        margin-right:~"@{i}px";
    }

    .mr@{i},
    .hm@{i} {
        margin-left:~"@{i}px";
    }

    .pl@{i},
    .hp@{i} {
        padding-right:~"@{i}px";
    }

    .pr@{i},
    .hp@{i} {
        padding-left:~"@{i}px";
    }

    .ltr-spaces-loop(@i - 5);
}

.tablet-v-spaces-loop (@i) when (@i > 0) {

    .mmt@{i},
    .mvm@{i} {
        margin-top:~"@{i}px!important";
    }

    .mmb@{i},
    .mvm@{i} {
        margin-bottom:~"@{i}px!important";
    }

    .mpt@{i},
    .mvp@{i} {
        padding-top:~"@{i}px!important";
    }

    .mpb@{i},
    .mvp@{i} {
        padding-bottom:~"@{i}px!important";
    }

    .tablet-v-spaces-loop(@i - 5);
}

.tablet-rtl-spaces-loop (@i) when (@i > 0) {

    .mml@{i},
    .mhm@{i} {
        margin-left:~"@{i}px!important";
    }

    .mmr@{i},
    .mhm@{i} {
        margin-right:~"@{i}px!important";
    }

    .mpl@{i},
    .mhp@{i} {
        padding-left:~"@{i}px!important";
    }

    .mpr@{i},
    .mhp@{i} {
        padding-right:~"@{i}px!important";
    }

    .tablet-rtl-spaces-loop(@i - 5);
}

.tablet-ltr-spaces-loop (@i) when (@i > 0) {

    .mml@{i},
    .mhm@{i} {
        margin-right:~"@{i}px!important";
    }

    .mmr@{i},
    .mhm@{i} {
        margin-left:~"@{i}px!important";
    }

    .mpl@{i},
    .mhp@{i} {
        padding-right:~"@{i}px!important";
    }

    .mpr@{i},
    .mhp@{i} {
        padding-left:~"@{i}px!important";
    }

    .tablet-ltr-spaces-loop(@i - 5);
}

.mobile-v-spaces-loop (@i) when (@i > 0) {

    .smmt@{i},
    .smvm@{i} {
        margin-top:~"@{i}px!important";
    }

    .smmb@{i},
    .smvm@{i} {
        margin-bottom:~"@{i}px!important";
    }

    .smpt@{i},
    .smvp@{i} {
        padding-top:~"@{i}px!important";
    }

    .smpb@{i},
    .smvp@{i} {
        padding-bottom:~"@{i}px!important";
    }

    .mobile-v-spaces-loop(@i - 5);
}

.mobile-rtl-spaces-loop (@i) when (@i > 0) {

    .smml@{i},
    .smhm@{i} {
        margin-left:~"@{i}px!important";
    }

    .smmr@{i},
    .smhm@{i} {
        margin-right:~"@{i}px!important";
    }

    .smpl@{i},
    .smhp@{i} {
        padding-left:~"@{i}px!important";
    }

    .smpr@{i},
    .smhp@{i} {
        padding-right:~"@{i}px!important";
    }

    .mobile-rtl-spaces-loop(@i - 5);
}

.mobile-ltr-spaces-loop (@i) when (@i > 0) {

    .smml@{i},
    .smhm@{i} {
        margin-right:~"@{i}px!important";
    }

    .smmr@{i},
    .smhm@{i} {
        margin-left:~"@{i}px!important";
    }

    .smpl@{i},
    .smhp@{i} {
        padding-right:~"@{i}px!important";
    }

    .smpr@{i},
    .smhp@{i} {
        padding-left:~"@{i}px!important";
    }

    .mobile-ltr-spaces-loop(@i - 5);
}