.container {
  width: 94%;
  margin: 0 auto;
  max-width: 1024px;
  &.c8 { max-width: 860px; }
  &.c9 { max-width: 900px; }
  &.c11 { max-width: 1100px; }
  &.c12 { max-width: 1200px; }
  &.c13 { max-width: 1300px; }
  &.c14 { max-width: 1400px; }
  &.c15 { max-width: 1500px; }
  &.c16 { max-width: 1600px; }
  &.c17 { max-width: 1730px; }
  &.c18 { max-width: 1860px; }
  &.c90 {
    width: calc(100% - 80px);
    max-width: none;
  }
}

.w10 { width: 10%; }
.w15 { width: 15%; }
.w20 { width: 20%; }
.w40 { width: 40%; }
.w60 { width: 60%; }
.w80 { width: 80%; }
.w85 { width: 85%; }
.w90 { width: 90%; }
.w50,
.col2 { width: 50%; }
.col2s10 { width: calc(50% - 5px); }
.col2s20 { width: calc(50% - 10px); }
.col2s30 { width: calc(50% - 15px); }
.col2s40 { width: calc(50% - 20px); }
.col2s50 { width: calc(50% - 25px); }
.col3 { width: calc(100%/3); }
.col3s10 { width: calc(100%/3 - 5px); }
.col3s20 { width: calc(100%/3 - 10px); }
.col3s30 { width: calc(100%/3 - 15px); }
.col3s40 { width: calc(100%/3 - 20px); }
.col3s50 { width: calc(100%/3 - 25px); }
.col4 { width: 25%; }
.col4s10 { width: calc(25% - 5px); }
.col4s20 { width: calc(25% - 10px); }
.col4s30 { width: calc(25% - 15px); }
.col4s40 { width: calc(25% - 20px); }
.col4s50 { width: calc(25% - 25px); }
.col5 { width: 20%; }
.col5s10 { width: calc(20% - 5px); }
.col5s20 { width: calc(20% - 10px); }
.col5s30 { width: calc(20% - 15px); }
.col5s40 { width: calc(20% - 20px); }
.col5s50 { width: calc(20% - 25px); }
.col6 { width: calc(100%/6); }
.col6s10 { width: calc(100%/6 - 5px); }
.col6s20 { width: calc(100%/6 - 10px); }
.col6s30 { width: calc(100%/6 - 15px); }
.col6s40 { width: calc(100%/6 - 20px); }
.col6s50 { width: calc(100%/6 - 25px); }

.fg0 { flex-grow: 0; }
.f1,.fg1 { flex-grow: 1; }
.fb0 { flex-basis: 0; }
.f1,.fb1 { flex-basis: 1; }
.fcc,.flex,.inrowf,.columf { display:-moz-flex;display:-ms-flexbox;display:-webkit-flex;display:flex; }
.fcc,.aic { -webkit-box-align: center;-ms-flex-align: center;-ms-grid-row-align: center;-webkit-align-items: center;align-items: center; }
.aifs { -webkit-box-align: start;-ms-flex-align: start;-ms-grid-row-align: flex-start;-webkit-align-items: flex-start;align-items: flex-start; }
.aife { -webkit-box-align: end;-ms-flex-align: end;-ms-grid-row-align: flex-end;-webkit-align-items: flex-end;align-items: flex-end; }
.jcsb,.inrowf,.columf { -webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between; }
.jcsa { -webkit-box-pack: space-around;-ms-flex-pack: distribute;-webkit-justify-content: space-around;justify-content: space-around; }
.fcc,.jcc { -webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center; }
.jcfs { -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start; }
.jcfe { -webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end; }
.fdc,.columf { -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column; }
.fdcr { -webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse; }
.fdrr { -webkit-flex-direction: row-reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse; }
.fw,.inrowf { -ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap; }

.w100,.acf-map { width: 100%; }
.h0 { height: 0; }
.h100 { height: 100%; }

/* Multilang settings */
html[dir=rtl] {
	.rtl-scaleX-1 {
		transform: scaleX(-1);
	}
	.rtl-fdrr {
		.fdrr;
	}
} 
html[dir=ltr] {
	.ltr-scaleX-1 {
		transform: scaleX(-1);
	}
	.ltr-fdrr {
		.fdrr;
	}
}