@import "vars.less";

@tabs-color: #00aced;
.TabsHead {
	position: relative;
	button {
		cursor: pointer;
		padding: 10px 15px;
		border: 1px solid @tabs-color;
		&:hover,
		&.active {
			color: #fff;
			background-color: @tabs-color;
		}	
	}
}
.TabsHolder {
	position: relative;
	overflow: hidden;
	.tabbox {
		padding: 10px;
		&:not(.active) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			opacity: 0;
			visibility: hidden;
		}
	}
}
.TabsNav {
	button {
		font-size: 0;
		svg {
			path {
				fill:@tabs-color;
				-webkit-transition: all .5s ease;
						transition: all .5s ease;
			}
		}
		&.disabled {
			opacity: .5;
			pointer-events: none;
		}
		&:not(.disabled) {
			&:hover {
				svg {
					path {
						fill:#398f14;
					}
				}
			}
		}
	}
}
.reselbox {
	@c-sel: #00aced;
	@c-hov: #00aced;
	@c-main:  #333;
	@c-drop: #333;

	@svg-s: 16px;

	input {
		cursor: pointer;
		width: 100%;
		padding: 5px;
		font-weight: 300;
		border: 1px solid @c-main;
	}
	span {
		display: block;
	}
	.dropbox {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 100;
		margin: 0 auto;
		overflow: hidden;
		background-color: #fff;
		height: 0;
		opacity: 0;
		visibility: hidden;
		border-left: 1px solid @c-main;
		border-right: 1px solid @c-main;
		-webkit-transition: all .2s linear;
				transition: all .2s linear;
		.sbox {
			padding: 5px;
			background-color: #ededed;
		}
		ul {
			max-height: 220px;
			overflow-y: auto;
			overflow-x: hidden;
			li {
				color: @c-drop;
				padding: 5px;
				cursor: pointer;
				font-weight: 300;
				border-bottom: 1px solid @c-main;
				&:hover {
					color: #fff;
					background-color: @c-hov;
				}
				&.selected {
					color: #fff;
					background-color: @c-sel;					
				}
				span {	
					user-select: none;
					pointer-events: none;
				}
			}
		}
		.sk-circle {
			display: none;
		}
		&.searching {
			ul {
				li {
					&:not(.finded) {
						display: none;
					}
				}
			}
			&:not(.hfinded) {
				.sk-circle {
					display: block;
				}
			}
		}
	}
	.iw {
		svg {
			position: absolute;
			top: calc(50% - @svg-s/2);
			width: @svg-s;
			height: @svg-s;
			min-width: @svg-s;
			min-height: @svg-s;
			pointer-events: none;
			path {
				fill: @c-main;
			}
		}
		&:hover {
			svg {
				path {
					fill: @c-hov; 
				}
			}	
		}
	}
	&.expanded {
		.dropbox {
			opacity: 1;
			visibility: visible;
		}
		.iw {
			svg {
				transform: scaleY(-1);
			}
		}
	}
}
.fileupbox {
	.float {
		position: absolute;
		width: 100%;
		pointer-events: none;
	}
	label {
		position: absolute;
	}
	input {
		cursor: pointer;
		width: 100%;
	}
	span {
		display: block;
	}
	.iw {
		svg {
			position: absolute;
			
		}
	}
	&:hover {
		.iw {
			svg {
				path {
					fill: @tabs-color;
				}
			}
		}
	}
}
.FAQsBlock {
	@svg-s: 16px;

	@hp: 20px;

	> ul {
		> li {
			margin-top: 20px;
			border-radius: 35px;
			background-color: #fff;
			> h3 {
				cursor: pointer;
				padding: 10px @hp;
				line-height: 1;
				user-select: none;
				span {
					padding: 0 10px;
				}
				i {
					position: relative;
					display: block;
					width: 35px;
					height: 35px;
					box-shadow: 0 0 20px rgba(10, 98, 213, .3);
					border-radius: 50%;
					-webkit-transition: all .2s ease;
							transition: all .2s ease;
					&::after,
					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 65%;
						height: 3px;
						max-width: 13px;
						border-radius: 6px;
						transform: translate(-50%,-50%);
						-webkit-transition: all .5s ease;
								transition: all .5s ease;
					}
				}
				&:hover {
					i {
						background-color: #C7DFFF;
					}
				}
			}
			.answrap {
				height: 0;
				opacity: 0;
				visibility: hidden;
				.sizer {
					border-top: 0;
					padding: 0 @hp;
				}
				.entry {
					padding: 0 10px 20px 10px;
					max-width: 870px;
				}
			}
			&:not(.active) {
				h3 {
					i {
						&::before {
							transform: translate(-50%,-50%) rotate(90deg);
						}
					}
				}
			}
			&.active {
				.answrap {
					opacity: 1;
					visibility: visible;
				}
				h3 {
					font-weight: 700;
					i {
						&::after {
							transform: translate(-50%, -50%) rotate(45deg);
						}
	
						&::before {
							transform: translate(-50%, -50%) rotate(-45deg);
						}
					}
				}
			}
		}
	}
}
.CHeckWrap {
	display: inline-block;
	@chk-s: 22px;

	label {
		color: #333;
		line-height: 1;
	}
	.checkbox {
		position: relative;
		width: @chk-s;
		height: @chk-s;
		min-width: @chk-s;
		min-height: @chk-s;
		overflow: hidden;
		border: 1px solid #333;
		input {
			cursor: pointer;
			position: absolute;
			top: -1px;
			left: -1px;
			width: ~"calc(100% + 3px)";
			height: ~"calc(100% + 3px)";
			opacity: 0;
			&:checked + span {
				opacity: 1;
				visibility: visible;
			}
		}
		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			svg {
				fill: #00aced;
				width: 80%;
				height: 80%;
			}
		}
		&:hover {
			span {
				opacity: .5;
				visibility: visible;
			}
		}
	}
}
html[dir=rtl] {
	.reselbox,
	.fileupbox {
		.iw {
			svg { 
				left: 10px;
			}
			input[type=text] {
				padding-left: 35px;
			}
		}
	}
	.FAQsBlock {
		li {
			h3 {
				span {
					margin-left: 15px;
				}
			}
		}
	}
	.CHeckWrap {
		label {
			margin-right: 10px;
		}
	}
}
html[dir=ltr] {
	.reselbox,
	.fileupbox {
		.iw {
			svg { 
				right: 10px;
			}
			input[type=text] {
				padding-right: 35px;
			}
		}
	}
	.FAQsBlock {
		li {
			h3 {
				span {
					margin-right: 15px;
				}
			}
		}
	}
	.CHeckWrap {
		label {
			margin-left: 10px;
		}
	}
}