@tb: 15px;
@side: 1.5%;
.wpbfNotyBox {
    position: fixed;
    &.left {
        left: @side;
        &.top {
            top: @tb;
        }
        &.bottom {
            bottom: @tb;
        }
        &.from-side {
            transform: translateX(calc(-100% - 40px));
        }
    }
    &.right {
        right: @side;
        &.top {
            top: @tb;
        }
        &.bottom {
            bottom: @tb;
        }
        &.from-side {
            transform: translateX(calc(100% + 40px));
        }
    }
    &.center {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &.top {
        top: 0;
        &.center,
        &:not(.from-side) {
            transform: translateY(calc(-100% - 40px));
        }
    }
    &.bottom {
        bottom: 0;
        &.center,
        &:not(.from-side) {
           transform: translateY(calc(100% + 40px));
        }
    }
    &.style-1 {
        width: 90%;
        max-width: 363px;
        overflow: hidden;
        border-radius: 11px;
        box-shadow: -2px 4px 16px -5px rgba(0, 0, 0, .12);
        padding: 12px 16px;
        background-color: #fff;
        -webkit-transition: all .33s ease;
                transition: all .33s ease;
        i {
            svg {
                width: 22px;
                height: 22px;
                min-width: 22px;
                min-height: 22px;
            }
        }
        .wpbfNotyClose {
            svg {
                width: 13px;
                height: 13px;
                min-width: 13px;
                min-height: 13px;
            }
            &:hover {
                svg {
                    path {
                        fill: #646464;
                    }
                }
            }
        }
        .wpbfNotyBtnsBox {
            .fcc;
            .fdc;
            text-align: center;
            button {
                margin: 3px 10px;
                text-transform: uppercase;
                &:hover {
                    &.wpbfNotyOk {
                        color: #1ea966;
                    }
                    &.wpbfNotyNo {
                        color: #C6394A;
                    }
                }
            }
        }
        &:not(.hbtns-0) {
            align-items: initial;
            max-width: 550px;
        }
    }
    &.style-2 {
        width: 90%;
        max-width: 560px;
        border-radius: 14px;
        box-shadow: 0 0 20px rgba(3, 0, 93, .05);
        background-color: #fff;
        -webkit-transition: all .33s ease;
                transition: all .33s ease;
        h4 {
            font-size: 20px;
        }
        .txt {
            font-size: 16px;
            padding: 15px 0;
        }
        i {
            padding: 15px 20px;
            svg {
                width: 35px;
                height: 35px;
                min-width: 25px;
                min-height: 25px;
                max-width: 85px;
                max-height: 85px;
            }
        }
        .wpbfNotyClose {
            svg {
                width: 10px;
                height: 10px;
                min-width: 10px;
                min-height: 10px;
            }
            &:hover {
                svg {
                    line {
                        stroke: #0043ff;
                    }
                }
            }
        }
        .wpbfNotyBtnsBox {
            button {
                padding: 12px;
                min-width: 130px;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                &.wpbfNotyOk {
                    color: #fff;
                    background-color: #001A5D;
                }
                &.wpbfNotyNo {
                    color: #001A5D;
                    background-color: #D3DFFF;
                }
            }
        }
        &:not(.hbtns-0) {
            max-width: 650px;
            .wpbfNotyClose {
                .fcc;
                position: absolute;
                top: 0;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #D3DFFF;
                &:hover {
                    background-color: #001A5D !important;
                    svg {
                        line {
                            stroke: #fff;
                        }
                    }
                }
            }
        }
        &.hbtns-0 {
            i,
            .txt {
                padding-top: 12px;
                padding-bottom: 12px;
            }
            .aifs;
            .wpbfNotyClose {
                margin: 10px;
            }
        }
        &.hbtns-1 {
            .wpbfNotyBtnsBox {
                .flex;
                .aic;
                padding: 15px;
                button {
                    border-radius: 40px;
                }
            }
        }
        &.hbtns-2 {
            .wpbfNotyBtnsBox {
                .flex;
                .fdc;
                overflow: hidden;
                button {
                    height: 100%;
                }
            }
        }
    }
    &.style-3 {
        color: #001A5D;
        width: 90%;
        max-width: 580px;
        border-radius: 45px;
        box-shadow: 0 0 20px rgba(3, 0, 93, .05);
        background-color: #fff;
        -webkit-transition: all .33s ease;
                transition: all .33s ease;
        h4 {
            font-size: 20px;
        }
        .txt {
            font-size: 16px;
            padding: 10px 5px;
        }
        i {
            .fcc;
            width: 85px;
            height: 85px;
            max-width: 85px;
            max-height: 85px;
            border-radius: 50%;
            svg {
                width: 80%;
                height: 80%;
                min-width: 22px;
                min-height: 22px;
                max-width: 50px;
                max-height: 50px;
                path {
                    fill: #fff;
                }
            }
        }
        .wpbfNotyClose {
            // transform: translate(20%,-30%);
            svg {
                width: 30px;
                height: 30px;
                min-width: 30px;
                min-height: 30px;
            }
            &:hover {
                svg {
                    opacity: .7;
                }
            }
        }
        .wpbfNotyBtnsBox {
            .flex;
            .aic;
            button {
                padding: 12px;
                margin: 0 7px;
                min-width: 130px;
                font-size: 15px;
                font-weight: 700;
                border-radius: 40px;
                text-transform: uppercase;
                &.wpbfNotyOk {
                    color: #fff;
                    background-color: #001A5D;
                }
                &.wpbfNotyNo {
                    color: #001A5D;
                    background-color: #D3DFFF;
                }
            }
        }
        &.hbtns-1 {
            max-width: 650px;
        }
        &.hbtns-2 {
            max-width: 850px;
        }
    }
    &.show {
        transform: translate(0) !important;
        &.top {
            top: @tb !important;
        }
        &.left {
            left: @side !important;
        }
        &.right {
            right: @side !important;
        }
        &.bottom {
            bottom: @tb !important;
        }
    }
}
html[dir=ltr] {
    .wpbfNotyBox {
        &.style-1 {
            border-left-width: 13px;
            border-left-style: solid;
        }
        &.style-2 {
            &:not(.hbtns-0) {
                .wpbfNotyClose {
                    left: 0;
                    transform: translate(-50%, -50%);
                }
            }
            &.hbtns-2 {
                .wpbfNotyBtnsBox {
                    border-top-right-radius: 14px;
                    border-bottom-right-radius: 14px;
                }
            }
        }
    }
}
html[dir=rtl] {
    .wpbfNotyBox {
        &.style-1 {
            border-right-width: 13px;
            border-right-style: solid;
        }
        &.style-2 {
            &:not(.hbtns-0) {
                .wpbfNotyClose {
                    right: 0;
                    transform: translate(50%, 50%);
                }
            }
            &.hbtns-2 {
                .wpbfNotyBtnsBox {
                    border-top-left-radius: 14px;
                    border-bottom-left-radius: 14px;
                }
            }
        }
    }
}