@charset "UTF-8";
@font-family: 'Assistant', sans-serif;
//@font-family: 'Rubic', sans-serif;
@ph_color: #000;
@body_color: #000;
@entry_links_color: #0096D3;
@entry_links_color_hov: #138a20;
@bgColorPre:whitesmoke;
@bgColorBlockquote:#eee;

@loadSize: 10px;
@btnColor: #fff;
@defColor: #21087A;
@defColor-hov: #8B1DD9;
@c-w: #fff;


@iterations: 50;