@import "vars.less";

.entry {
	line-height: 1.4;
	* {
		max-width: 100%;
	}
	.wp-post-image {
		margin-bottom: 40px;
	}
	img {
		height: auto;
		&.aligncenter {
			display: block;
			margin: 0 auto;
		}
		&.alignleft {
			margin: 0 15px 15px 0;
		}
		&.alignright {
			margin: 0 0 15px 15px;
		}
	}
	ul,
	ol {
		list-style-position: inside;
	}
	ul {
		margin: 0 20px;
		list-style: inherit;
	}
	table {
		border: 1px solid #000;
		tr:nth-child(1) > td {
			text-align: center;
			background: #ccc;
		}
		td {
			border: 1px solid #000;
		}
	}
	p {
		margin-bottom: 1em;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	a {
		color: @entry_links_color;
		line-height: 1;
		border-bottom: 1px solid transparent;
		-webkit-transition: all .3s ease;
				transition: all .3s ease;
		&:hover {
			border-color: @entry_links_color_hov;
		}
	}
	q {
		quotes: "“" "”" "‘" "’";
		&::before {
			content: open-quote;
		}
		&::after {
			content: close-quote;
		}
	}
	pre {
		padding: 1em;
		background: @bgColorPre;
	}
	blockquote {
		margin: 0;
		padding: 1em;
		background: @bgColorBlockquote;
		border-radius: 1em;
	}
	figcaption,
	blockquote {
		margin-bottom: 1em;
	}
	.morewrap {
		&.expanded {
			.morebox {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0 0 0 0;
}
a { 
	color: inherit; 
	text-decoration: none; 
	&:hover { text-decoration: none; }
}
p { margin: 0 0 0 0; }
ul { margin: 0 0 0 0;list-style: none; }

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { display: block; margin: 0 auto; }