#wpbfSettingsPage {
  padding: 20px 0;
  max-width: 1024px;
}
#wpbfSettingsPage input.onoff,
#wpbfSettingsPage input.radio-img {
  height: 0 !important;
  width: 0 !important;
  visibility: hidden;
}
#wpbfSettingsPage input.onoff:checked + label {
  background: #1A1145;
}
#wpbfSettingsPage input.onoff:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
#wpbfSettingsPage input.radio-img + label > img {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  transition: 500ms all;
}
#wpbfSettingsPage input.radio-img:checked + label > img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #1A1145;
}
#wpbfSettingsPage label.onoff {
  cursor: pointer;
  text-indent: -9999px;
  width: 46px;
  height: 28px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
#wpbfSettingsPage label.onoff:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
#wpbfSettingsPage label.onoff:active:after {
  width: 30px;
}
#wpbfSettingsPage .upload-box {
  border: 1px solid #ececec;
  width: 180px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  background-color: #f5f7f8;
}
#wpbfSettingsPage .upload-box .upload-container:after {
  content: '+';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 30px;
  text-align: center;
  opacity: 0.5;
  z-index: 0;
  transform: scaleY(-50%);
  transition: all 0.1s;
}
#wpbfSettingsPage .upload-box .upload-btn {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 90px;
  margin: auto;
  border: 0;
  padding: 5px;
  z-index: 2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.3s, box-shadow 0.3s;
}
#wpbfSettingsPage .upload-box .upload-btn img {
  max-height: 100%;
}
#wpbfSettingsPage .upload-box .upload-btn.setted {
  background-color: #f5f7f8;
}
#wpbfSettingsPage .upload-box .upload-btn:hover {
  opacity: 0.5;
  box-shadow: inset 0 0 5px rgb(0 0 0%);
}
#wpbfSettingsPage input[type="checkbox"] {
  width: 26px !important;
  height: 26px !important;
  padding: 5px !important;
  line-height: 26px;
  background-color: #f5f7f8 !important;
}
#wpbfSettingsPage .font-select {
  width: 100%;
}
#wpbfSettingsPage .input-font .font-family-value {
  display: none;
}
#wpbfSettingsPage .wpbfSettingHead {
  color: #fff;
  padding: 20px 30px;
  overflow: hidden;
  background-color: #1A1145;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#wpbfSettingsPage .wpbfSettingHead .logo h1 {
  color: #fff;
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 0.8;
  padding-bottom: 8px;
}
#wpbfSettingsPage .wpbfSettingHead .logo svg {
  width: 150px;
}
#wpbfSettingsPage .wpbfSettingHead .logo svg path[fill="#1A1145"],
#wpbfSettingsPage .wpbfSettingHead .logo svg polygon[fill="#1A1145"] {
  fill: #fff;
}
#wpbfSettingsPage .wpbfTabsNav {
  margin: 0;
  min-width: 120px;
}
#wpbfSettingsPage .wpbfTabsNav li {
  margin-bottom: 0;
  border-bottom: 1px solid #e9e9e9;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
#wpbfSettingsPage .wpbfTabsNav li a {
  position: relative;
  color: #444;
  padding: 10px 15px;
  font-weight: 600;
  text-decoration: none;
}
#wpbfSettingsPage .wpbfTabsNav li a i {
  color: #444;
  font-size: 18px;
  transform: translateY(4px);
  display: contents;
}
#wpbfSettingsPage .wpbfTabsNav li span {
  margin: 0 10px;
  line-height: 1;
}
#wpbfSettingsPage .wpbfTabsNav li:hover {
  padding-bottom: 1px;
  border-bottom-color: #ccc;
}
#wpbfSettingsPage .wpbfTabsNav li.active a {
  cursor: default;
  color: #1A1145;
  border: 1px solid #DDDDDD;
  background-color: #D5E6FE;
  border-bottom-color: rgba(0, 0, 0, 0);
}
#wpbfSettingsPage .wpbfTabsBox {
  position: relative;
  overflow: hidden;
}
#wpbfSettingsPage .wpbfTabsBox .wpbfTab {
  width: 100%;
  border: 1px solid #ccc;
  padding: calc(15px + 0.5vw);
  min-height: 555px;
  background-color: #fff;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
#wpbfSettingsPage .wpbfTabsBox .wpbfTab:not(.active) {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
#wpbfSettingsPage .wpbfTabsBox .wpbfTab h3 {
  font-size: 17px;
}
#wpbfSettingsPage .wpbfTabsBox .wpbfTab h3,
#wpbfSettingsPage .wpbfTabsBox .wpbfTab p {
  margin: 0.5em 0;
}
#wpbfSettingsPage .wpbfTabsBox .wpbfTab hr {
  clear: both;
  display: block;
  margin: 20px 0;
  opacity: 0.5;
}
#wpbfSettingsPage .wpbfTabsBox .wpbfTab input,
#wpbfSettingsPage .wpbfTabsBox .wpbfTab textarea {
  width: 100%;
}
#wpbf_save_settings {
  position: fixed;
  cursor: pointer;
  color: #fff;
  right: 5%;
  border: 1px solid transparent;
  bottom: 10px;
  padding: 10px;
  z-index: 100;
  min-width: 200px;
  font-size: 18px;
  text-align: center;
  line-height: 1;
  border-radius: 20px;
  background-color: #1A1145;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
#wpbf_save_settings:disabled {
  cursor: wait;
  opacity: 0.5;
  background-color: #ddd;
}
#wpbf_save_settings:hover {
  color: #1A1145;
  border-color: #1A1145;
  background-color: #fff;
}
