@colorMain: #444;
@gMainColor: #1A1145;
#wpbfSettingsPage {

    input {
        &.onoff,
        &.radio-img {
            height: 0 !important;
            width: 0 !important;
            visibility: hidden; 
        }
        &.onoff {
            &:checked + label {
                background: @gMainColor;
                &:after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }
            }
        }
        &.radio-img {
            & + label {
                position: relative;
                > img {
                    width: 150px;
                    height: 150px;
                    border: 1px solid #ddd;
                    -webkit-transition: all .33s ease;
                            transition: all .33s ease;
                    &.active {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            &:checked + label > img {
                border: 1px solid #fff;
                box-shadow: 0 0 1.5px 1.5px @gMainColor;
                border-radius: 4px;
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
                &.noactive {
                    &:not(.active) {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }
    label {
        &.onoff {
            cursor: pointer;
            text-indent: -9999px;
            width: 46px;
            height: 28px;
            background: grey;
            display: block;
            border-radius: 100px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 22px;
                height: 22px;
                background: #fff;
                border-radius: 90px;
                transition: 0.3s;
            }
            &:active {
                &:after {
                    width: 30px;
                }
            }
        }
    }
    .upload-box {
        border: 1px solid #ececec;
        width: 180px;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
        background-color: #f5f7f8;
        .upload-container {
            &:after {
                content: '+';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                font-size: 30px;
                text-align: center;
                opacity: .5;
                z-index: 0;
                transform: scaleY(-50%);
                transition: all .1s;
            }
        }
        .upload-btn {
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 90px;
            margin: auto;
            border: 0;
            padding: 5px;
            z-index: 2;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: opacity .3s,box-shadow .3s;
            img {
                max-height: 100%;
            }
            &.setted {
                background-color: #f5f7f8;
            }
            &:hover {
                opacity: 0.5;
                box-shadow: inset 0 0 5px rgb(0 0 0 / 10%);
            }
        }

    }
    input[type="checkbox"] {
        width: 26px !important;
        height: 26px !important;
        padding: 5px !important;
        line-height: 26px;
        background-color: #f5f7f8 !important;
    }
    .font-select {
        width: 100%;
    }
    .input-font .font-family-value {
        display: none;
    }
    padding: 20px 0;
    max-width: 1024px;
    .wpbfSettingHead {
        color: #fff;
        padding: 20px 30px;
        overflow: hidden;
        background-color: @gMainColor;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .logo {
            h1 {
                color: #fff;
                margin: 0;
                font-size: 60px;
                font-weight: 600;
                line-height: 0.8;
                padding-bottom: 8px;
            }
            svg {
                width: 150px;
                path[fill="#1A1145"],
                polygon[fill="#1A1145"] {
                    fill: #fff;
                }
            }
        }
    }
    .wpbfTabsNav {
        margin: 0;
        min-width: 120px;
        li {
            margin-bottom: 0;
            border-bottom: 1px solid #e9e9e9;
            -webkit-transition: all .33s ease;
                    transition: all .33s ease;
            a {
                position: relative;
                color: @colorMain;
                padding: 10px 15px;
                font-weight: 600;
                text-decoration: none;
                i {
                    color: @colorMain;
                    font-size: 18px;
                    transform: translateY(4px);
                    display: contents;
                }
            }
            span {
                margin: 0 10px;
                line-height: 1;
            }
            &:hover {
                padding-bottom: 1px;
                border-bottom-color: #ccc;
            }
            &.active {
                a {
                    cursor: default;
                    color: @gMainColor;
                    border: 1px solid #DDDDDD;
                    background-color: #D5E6FE;
                    border-bottom-color: rgba(0, 0, 0, 0);
                }
            }
        }
    }
    .wpbfTabsBox {
        position: relative;
        overflow: hidden;
        .wpbfTab {
            width: 100%;
            border: 1px solid #ccc;
            padding: calc(15px + 0.5vw);
            min-height: 555px;
            background-color: #fff;
            -webkit-transition: all .33s ease;
                    transition: all .33s ease;
            &:not(.active) {
                position: absolute;
                top: 0;
                opacity: 0;
                visibility: hidden;
            }
            h3 {
                font-size: 17px;
            }
            h3,p {
                margin: 0.5em 0;
            }
            hr {
                clear: both;
                display: block;
                margin: 20px 0;
                opacity: .5;
            }
            input,
            textarea {
                width: 100%;
            }
        }
    }
}
#wpbf_save_settings {
    position: fixed;
    cursor: pointer;
    color: #fff;
    right: 5%;
    border: 1px solid transparent;
    bottom: 10px;
    padding: 10px;
    z-index: 100;
    min-width: 200px;
    font-size: 18px;
    text-align: center;
    line-height: 1;
    border-radius: 20px;
    background-color: @gMainColor;
    -webkit-transition: all .33s ease;
            transition: all .33s ease;
    &:disabled {
        cursor: wait;
        opacity: 0.5;
        background-color: #ddd;
        // pointer-events: none;
    }
    &:hover {
        color: @gMainColor;
        border-color: @gMainColor;
        background-color: #fff;
    }
}   