.f1 { flex: 1; }
.acf-gallery .acf-gallery-attachment .thumbnail,
#adminmenu .wp-menu-image,
.fcc,.flex,.inrowf,.columf { display:-moz-flex;display:-ms-flexbox;display:-webkit-flex;display:flex; }
.acf-gallery .acf-gallery-attachment .thumbnail,
#adminmenu .wp-menu-image,
.fcc,.aic { -webkit-box-align: center;-ms-flex-align: center;-ms-grid-row-align: center;-webkit-align-items: center;align-items: center; }
.aifs { -webkit-box-align: start;-ms-flex-align: start;-ms-grid-row-align: flex-start;-webkit-align-items: flex-start;align-items: flex-start; }
.aife { -webkit-box-align: end;-ms-flex-align: end;-ms-grid-row-align: flex-end;-webkit-align-items: flex-end;align-items: flex-end; }
.jcsb,.inrowf,.columf { -webkit-box-pack: justify;-ms-flex-pack: justify;-webkit-justify-content: space-between;justify-content: space-between; }
.jcsa { -webkit-box-pack: space-around;-ms-flex-pack: distribute;-webkit-justify-content: space-around;justify-content: space-around; }
#adminmenu .wp-menu-image,
.fcc,.jcc { -webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center; }
.jcfs { -webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start; }
.jcfe { -webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end; }
.fdc,.columf { -webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column; }
.fdcr { -webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse; }
.fdrr { -webkit-flex-direction: row-reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse; }
.fw,.inrowf { -ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap; }

html[dir="rtl"] .select2-search-choice-close {
    right: 3px !important;
    left: auto !important;
}
html[dir="rtl"] .select2-container .select2-choice {
    padding: 0 20px 0 0 !important;
}
.acf-gallery .acf-gallery-attachment .thumbnail {
    top: 50%;  
    left: 50%;
    transform: translate(-50%,-50%) !important;
}
.acf-gallery .acf-gallery-attachment .thumbnail img {
    max-width: 100%;
    transform: none !important;
}
.acf-table-root.ltr {
    direction: ltr;
}
#adminmenu .wp-menu-image img {
    padding: 0;
    max-width: 65%;
    max-height: 65%;
}
#wpbfSettingsPage {
    width: 100%;
    height: 100vh;
}
#wpbfSettingsPage .logo svg {
    width: 160px;
    height: 32px;
}
#wpbfSettingsPage .logo svg [fill="#FFFFFF"] {
    fill: #EB0F4C;
}